extends layout

block content

  #main
    form(action="/account", method="POST")#submitAccount.pure-form.pure-form-aligned
      legend Your Account Details
      fieldset
        .pure-control-group
          label(for="username") Display Name
          input(type="text", name="username", placeholder="", required, value="#{user.username}")
        .pure-control-group
          label(for="email") Email
          input(type="email", name="email", placeholder="", required, value="#{user.email}")
        .pure-controls
          button#readButton.ladda-button.blue.slide-up
            span.label Update
            span.spinner